#container > h3 {
    color: white;
    font-size: 2em;
}

#CategoriasContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

#CategoriasContainer p {
    margin-top: 2em;
    padding: 1em;
    background-color: #514a74;
    margin-inline: 1em;
    border-radius: 2%;
    font-size: 19px;
    color: white;
    transition: 0.3s ease-in-out all;
}

#CategoriasContainer p:hover {
    background-color: #312472;
    cursor: pointer;
}

@media screen and (max-width: 1240px) {
    #CategoriasContainer {
        width: 80%;
    }
}

@media screen and (max-width: 914px) {
    #CategoriasContainer {
        width: 90%;
    }
}

@media screen and (max-width: 814px) {
    #CategoriasContainer {
        width: 100%;
    }
}

@media screen and (max-width: 730px) {
    #CategoriasContainer {
        grid-template-columns: auto auto auto;
    }
    #container > h3 {
        color: white;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 546px) {
    #CategoriasContainer {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 412px) {
    #CategoriasContainer {
        grid-template-columns: auto;
        
    }
    #CategoriasContainer p {
        padding: 1em;
        margin-top: 1em;
    }

    #container > h3 {
        margin-block: 1em;
    }

}

